<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265680396691-19gpflhmmjfq040rqnitrsamkggr71s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265680396691-19gpflhmmjfq040rqnitrsamkggr71s4</string>
	<key>API_KEY</key>
	<string>AIzaSyA8jgz7mP8uJf2CcmMbn0Nu8aIzINlUGbU</string>
	<key>GCM_SENDER_ID</key>
	<string>265680396691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JiananLi.DayCareRecordApp</string>
	<key>PROJECT_ID</key>
	<string>daycarerecord-5ec6f</string>
	<key>STORAGE_BUCKET</key>
	<string>daycarerecord-5ec6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265680396691:ios:5d5d834cf29b137d14c866</string>
	<key>DATABASE_URL</key>
	<string>https://daycarerecord-5ec6f-default-rtdb.firebaseio.com</string>
</dict>
</plist>